$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E8EBEF;
}

h1 {
  margin-top: 0
}

.row {
}

.screen {
  margin-top: 80px;
}

.explain {
  margin-top: -10px
}

#cloth1, #cloth2, #food1, #food2 {
  height: 140px !important;
  margin-top: 20px;
}

.cloth, .food, .house, .transport {
}

.transport-slider {
  padding-top: 20px
}

.bg-grey {
  background-color: #F3F2F4;
}

.bg-white {
  background-color: white;
}

.col-md-4 img, .col-xs-4 img {
  width: 60%;
  height: 160px
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#totalNumber {
  font-size: 40px;
}

.jumbotron {
  position: fixed;
  z-index: 100;
  left: 15px;
  top: 15px;
  right: 15px;
  background-image: url("../images/background.png");
  background-size: 200px 60px;
}

.cloth {
  margin-top: 50px;
}

.middle {
  text-align: center;
}

.rdSlider {
  .rs-range-color  {
    background-color: #008282;
  }
  .rs-path-color  {
    background-color: #82D6D8;
  }
  .rs-handle  {
    background-color: #82D6D8;
    padding: 7px;
    border: 2px solid #82D6D8;
  }
  .rs-handle.rs-focus  {
    border-color: #008282;
  }
  .rs-handle:after  {
    border-color: #008282;
    background-color: #008282;
  }
  .rs-border  {
    border-color: transparent;
  }
} 

.rs-bar .rs-seperator {
  display: none !important
}

.house-slider {
  .slider.slider-horizontal {
    width: 70%;
    margin: 0px 15% -5px 15%;
    .slider-track {
      height: 5px
    }
  }
  .measure {
    margin-left: 60%;
    line-height: 15px;
    background: #F0EFF1;
    margin-right: 15%;
    text-align: center;
    border-radius: 6px;
    color: grey;
    font-size: 12px;
    span {
      color: black;
      font-size: 15px
    }
  }
}

.transport-slider {
  .slider.slider-horizontal {
    width: 70%;
    margin: 0px 0% -5px 0%;
    .slider-track {
      height: 5px
    }
  }
  .tool {
    width: 30%;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
  }
  .measure {
    margin-left: 60%;
    line-height: 15px;
    background: white;
    margin-right: 0%;
    text-align: center;
    border-radius: 6px;
    color: grey;
    font-size: 12px;
    span {
      color: black;
      font-size: 15px
    }
  }
}

.house-slider {
  padding-top: 20px
}

.rdSlider .rs-handle {
    background-color: #008282;
    padding: 7px;
    border: 2px solid #008282;
}

.verticleSlider {
  margin-right: 20px
}

.slider.slider-horizontal .slider-handle {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}

.slider-selection {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: none;
    background-color: #82D6D8;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
}
.slider-selection {
  background-image: -webkit-linear-gradient(top, #008282 0%, #008282 100%);
}

.slider-handle {
  background-color: #008282;
  background-image: none;
}

.btn-group {
  margin-top: 40px;
}

.btn-group button {
  width: 100px
}

.btn {
  font-size: 12px;
  padding: 4px;
}

li a {
  cursor: pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.center {
  margin: 0 auto
}

.jumbotron {
    padding: 30px;
  }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .bg-grey, .bg-white{
    height: 180px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    color: white;
  }
}

.notation {
  width: 20%
}


@media screen and (max-width: 768px) {
  .rdSlider {
    height: 80px !important;
    width: 80px !important;
  }
  .rs-container {
    height: 80px !important;
    width: 80px !important;
  }
  .col-md-4 img, .col-xs-4 img {
    height: 100px;
  }
  .cloth {
    margin-top: 60px;
  }
  .bg-grey, .bg-white{
    height: 120px;
  }
}
