$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E8EBEF;
}

h1 {
  margin-top: 0
}

.row {
}

#taiwan {
  z-index: 50;
  position: absolute;
  width: 80px;
  right: 10%;
  text-align: center;
  border-radius: 10px;
  padding: 2px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin-top: 50px;
}

.screen {
  margin-top: 120px;
  z-index: 50;
}

.explain {
  margin-top: -10px
}

#cloth1, #cloth2, #food1, #food2 {
  height: 140px !important;
  margin-top: 20px;
}

.cloth, .food, .house, .transport {
}

.bg-grey {
  background-color: #F3F2F4;
}

.bg-white {
  background-color: white;
}

.col-md-4 img, .col-xs-4 img {
  width: 60%;
  height: 160px
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0px;
  padding-right: 0px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#totalCarbon {
  font-size: 40px;
}

#totalCarbon2 {
  font-size: 35px;
  color: #3c6177;
  font-weight: bold;
}

.jumbotron {
  position: fixed;
  left: 15px;
  top: 15px;
  right: 15px;
  background-image: url("../images/background.png");
  background-size: 100% 100%;
  padding: 30px;
  color: white;
  max-width: 730px;
  text-align: center;
  height: 115px;
  z-index: 50;
}

.cloth {
  margin-top: 50px;
}

.middle {
  text-align: center;
}

.rdSlider {
  .rs-range-color  {
    background-color: #008282;
  }
  .rs-path-color  {
    background-color: #82D6D8;
  }
  .rs-handle  {
    background-color: #82D6D8;
    padding: 7px;
    border: 2px solid #82D6D8;
  }
  .rs-handle.rs-focus  {
    border-color: #008282;
  }
  .rs-handle:after  {
    border-color: #008282;
    background-color: #008282;
  }
  .rs-border  {
    border-color: transparent;
  }
} 

.rs-bar .rs-seperator {
  display: none !important
}

.house-slider {
  padding-top: 20px;
  .slider.slider-horizontal {
    width: 70%;
    margin: 0px 15% -5px 15%;
    .slider-track {
      height: 5px
    }
  }
  .measure {
    margin-left: 60%;
    line-height: 15px;
    background: #F0EFF1;
    margin-right: 15%;
    text-align: center;
    border-radius: 6px;
    color: grey;
    font-size: 12px;
    span {
      color: black;
      font-size: 15px
    }
  }
}

.transport-slider {
  padding-top: 20px;
  padding-left: 50px;
  .slider.slider-horizontal {
    width: 70%;
    margin: 0px 0% -5px 0%;
    .slider-track {
      height: 5px
    }
  }
  .tool {
    width: 30%;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
  }
  .measure {
    margin-left: 30%;
    line-height: 15px;
    background: white;
    margin-right: 30%;
    text-align: center;
    border-radius: 6px;
    color: grey;
    font-size: 12px;
    span {
      color: black;
      font-size: 15px
    }
  }
}

.rdSlider .rs-handle {
    background-color: #008282;
    padding: 7px;
    border: 2px solid #008282;
}

.verticleSlider {
  margin-right: 20px
}

.slider.slider-horizontal .slider-handle {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}

.slider-selection {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: none;
    background-color: #82D6D8;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
}
.slider-selection {
  background-image: -webkit-linear-gradient(top, #008282 0%, #008282 100%);
}

.slider-handle {
  background-color: #008282;
  background-image: none;
}

.btn-group {
  margin-top: 40px;
}

.btn-group button {
  width: 100px
}

.btn {
  font-size: 12px;
  padding: 4px;
}

li a {
  cursor: pointer;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.center {
  margin: 0 auto
}

.result {
  button {
    margin-top: 10px;
    height: 35px;
    background-color: #3c6177;
    color: white;
    font-size: 15px !important
  }

  button:hover, button:focus {
    color: white;
    background-color: #82D6D8;
    cursor: pointer;
  }
}

#lightbox {
  background-color: #e9f2e7;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  bottom: 15px;
  right: 0px;
  padding: 30px;
  max-width: 730px;
  height:100%;
  max-height:950px;
  text-align: center;
  display: none;
  font-size: 20px;
  .statement {
    margin-top: 3%;
    span#treeNumber {
      font-size: 40px !important;
      color: #008283;
      font-weight: bold;
    }
  }
  .share {
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 20%;
  }
  .share a.facebook {
    width: 44px;
    background-size: 40px 40px;
    background-image: url(../images/share_facebook.svg);
  }
  .share a.twitter {
    width: 44px;
    background-size: 40px 40px;
    background-image: url(../images/share_twitter.svg);
  }
  .share a {
    display: inline-block;
    height: 44px;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: .6;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .share a:hover {
    opacity: 1;
  }
  button {
    height: 35px;
    background-color: #3c6177;
    color: white;
    font-size: 15px !important;
    line-height: 1.3333333;
    border-radius: 6px;
    border: 0px solid white;
    padding: 0 60px;
    margin-bottom: 10%;
  }
  button:hover, button:focus {
    background-color: #82D6D8;
    cursor: pointer;
  }
}

#treeArea {
  margin: 10px auto;
  width: 80%;
  .tree {
    background-image: url("../images/tree.svg");
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
  .narrow {
    width: 60px;
    height: 60px;
  }
  .xnarrow {
    width: 40px;
    height: 40px;
  }
}

#versionControl1, #versionControl2, #versionControl9, #versionControl10, #versionControl11, #versionControl12 {
    line-height: 15px;
    color: grey;
    font-size: 12px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .bg-grey, .bg-white{
    height: 180px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.notation {
  width: 20%
}


@media screen and (max-width: 768px) {
  .rdSlider {
    height: 80px !important;
    width: 80px !important;
  }
  .rs-container {
    height: 80px !important;
    width: 80px !important;
  }
  .col-md-4 img, .col-xs-4 img {
    height: 100px;
  }
  .cloth {
    margin-top: 60px;
  }
  .bg-grey, .bg-white{
    height: 120px;
  }
  .col-md-4 img, .col-xs-4 img {
    width: 80%;
    height: 100px
  }
  .explain {
    margin-top: -10px
  }
  #cloth1, #cloth2, #food1, #food2 {
    height: 90px !important;
    margin-top: 10px;
  }
  .house-slider {
    padding-top: 10px;
    .slider.slider-horizontal {
      width: 60%;
      margin: 0px 0% 5px 2%;
      .slider-track {
        height: 5px
      }
    }
    .measure {
      display: inline-block;
      width: 35%;
      margin-left: 5px;
      margin-right: 0;
      border-radius: 4px;
      font-size: 10px;
      span {
        color: black;
        font-size: 13px
      }
    }
  }
  .slider.slider-horizontal .slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -7.5px;
  }
  .transport-slider {
    padding-top: 0px;
    padding-left: 15px;
    .slider.slider-horizontal {
      width: 100%;
      margin: 0px 0% -5px 0%;
      .slider-track {
        height: 5px;
      }
    }
    .tool {
      width: auto;
      display: inline-block;
      line-height: 15px;
      vertical-align: middle;
      font-size: 12px;
    }
    .measure {
      margin-left: 0%;
      line-height: 10px;
      background: white;
      margin-right: 0%;
      text-align: center;
      border-radius: 6px;
      color: grey;
      font-size: 10px;
      margin-top: -5px;
      margin-bottom: -5px;
      display: inline-block;
      width: 40%;
      span {
        color: black;
        font-size: 13px
      }
    }
  }
  #versionControl1, #versionControl2, #versionControl9, #versionControl10, #versionControl11, #versionControl12 {
    font-size: 10px;
  }
  #lightbox {
    #treeArea {
      .tree {
        width: 50px;
        height: 50px;
      }
      .narrow {
        width: 30px !important;
        height: 30px !important;
      }
      .xnarrow {
        width: 20px !important;
        height: 30px !important;
      }  
    }
    .share {
      bottom: 10%;
    }
    .share a.facebook {
      width: 22px;
      background-size: 20px 20px;
    }
    .share a.twitter {
      width: 22px;
      background-size: 20px 20px;
    }
    .statement {
      font-size: 14px;
      span#totalCarbon2 {
        font-size: 24px !important;
      }
      span#treeNumber {
        font-size: 24px !important;
      }
    }
  }
}
