$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  margin-top: 0
}
.cloth, .food, .house, .transport {
  border: solid black 1px;
  margin-bottom: 10px
}

.col-md-4 img, .col-xs-4 img {
  width: 60%
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#totalNumber {
  font-size: 40px;
}

.rdSlider {
  .rs-range-color  {
    background-color: #33B5E5;
  }
  .rs-path-color  {
    background-color: #C2E9F7;
  }
  .rs-handle  {
    background-color: #C2E9F7;
    padding: 7px;
    border: 2px solid #C2E9F7;
  }
  .rs-handle.rs-focus  {
    border-color: #33B5E5;
  }
  .rs-handle:after  {
    border-color: #33B5E5;
    background-color: #33B5E5;
  }
  .rs-border  {
    border-color: transparent;
  }
} 

.slider.slider-horizontal {
    width: 90%;
    margin-bottom: 20px;
    .slider-track {
      height: 5px
    }
}

.verticleSlider {
  margin-right: 20px
}

.slider.slider-horizontal .slider-handle {
  width: 30px;
  height: 30px;
  margin-top: -10px;
}

.slider-selection {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: none;
    background-color: #C2E9F7;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
}
.slider-selection {
  background-image: -webkit-linear-gradient(top, #33B5E5 0%, #33B5E5 100%);
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
  .rdSlider {
    height: 120px !important;
    width: 120px !important;
  }
  .rs-container {
    height: 120px !important;
    width: 120px !important;
  }
  .jumbotron {
    padding: 10px;
  }
}
